.Nav_Container {
    width: 100%;
    background-color: white;
    padding: 10px 0;
}

.navigation {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 550;
}

.navLinks {
    display: flex;
    align-items: flex-end;
    list-style: none;
}

.navLinks li {
    font-weight: 550;
    margin-left: 30px;
    font-size: 1rem;
}

.navLinks .state p:first-child {
    font-size: 0.8rem;
}

/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .Nav_Container {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .logo {
        font-size: 2.1rem;
    }

    .navLinks li {
        font-size: 1.6rem;
    }

    .navLinks .state p:first-child {
        font-size: 1.1rem;
    }
}