.Nav_Container {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 1px 1px rgba(228, 228, 228, 0.2);
}

.navigation {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 550;
    text-decoration: none;
    color: #2b2a2a;
    font-size: 1.4rem;
}

.navLinks {
    display: flex;
    align-items: center;
    list-style: none;
}

.navLinks .navLink {
    font-weight: 550;
    margin-left: 30px;
    font-size: 1rem;
    text-decoration: none;
    color: #2b2a2a;
}

.navLinks .state p:first-child {
    font-size: 0.8rem;
}

.Write {
    background-color: #3B698E;
    padding: 4px 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}

.Write p {
    color: white;
    font-size: 1rem;
    font-weight: normal;
}

.Write .icon {
    margin-right: 10px;
}

.LoginUser {
    display: flex;
    align-items: center;
}

.UserPhoto {
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: red; */
}

.UserPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.UserLogo {
    background-color: #070754;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.UserLogo h1 {
    font-size: 1.1rem;
    font-weight: 550;
}

.DropDown {
    margin-left: 5px;
    position: relative;
}

.DropDown .User {
    font-size: 1rem;
}

.DropDown .User {
    display: flex;
    align-items: flex-end;
}

.DropDown .User .icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.Dropdown_Menu {
    position: absolute;
    top: 2.35rem;
    right: 5px;
    background-color: #f8f8f8;
    width: 10rem;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.Dropdown_Menu .Link {
    text-decoration: none;
    color: #454545;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}

.DropDown .Link .icon {
    margin-right: 5px;
}

.Dropdown_Menu .Logout {
    margin-top: 15px;
}



/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .Nav_Container {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .logo {
        font-size: 2.1rem;
    }

    .navLinks li {
        font-size: 1.6rem;
    }

    .navLinks .state p:first-child {
        font-size: 1.1rem;
    }
}