.FeaturedPost_Components {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 10px;
    margin: 2rem 0 20px 0;
}

.FeaturedPost {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.FeaturedPostImg {
    width: 100%;
    /* height: 80%; */
    /* background-color: red; */
}


.FeaturedPostImg img {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.FeaturedPost_Contents {
    width: 100%;
    padding: 1rem;
}

.FeaturedPost_Date {
    color: #7b7b7b;
    font-weight: 550;
    margin-bottom: 5px;
    font-size: 1rem;
}

.FeaturedPost_Title {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    color: #414141;
    font-weight: 550;
    line-height: 2.2rem;
    margin-bottom: 10px;
}

.FeaturedPost_Brief_Desc {
    color: #7b7b7b;
    font-size: 1rem;
}

.FeaturedPost_Author {
    width: 100%;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .FeaturedPost_Components {
        grid-template-columns: 1fr;
    }

    .FeaturedPost_Date {
        font-size: 1.1rem;
    }

    .FeaturedPost_Title {
        font-size: 1.9rem;
    }

    .FeaturedPost_Brief_Desc {
        font-size: 1.2rem;
    }

    .FeaturedPost_Author {
        display: none;
    }
}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .FeaturedPost_Components {
        grid-template-columns: 1fr;
    }

    .FeaturedPost_Date {
        font-size: 1.1rem;
    }

    .FeaturedPost_Title {
        font-size: 2rem;
    }

    .FeaturedPost_Brief_Desc {
        font-size: 1.2rem;
    }

    .FeaturedPost_Author {
        display: none;
    }
}